.explore {
  height: 100vh;
  display: grid;
  grid-template-columns: 18% 82%;
}
.explore__content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.explore .explore__items {
  background-color: red;
  width: 85%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  row-gap: 1px;
  flex-wrap: wrap;
}
.explore .explore__item {
  background-color: orange;
  min-width: 32.6%;
}
.explore .image__background {
  height: 40vh;
}
.explore .video__background {
  height: 50vh;
}
