:root {
  --yellow: #feb60a;
  --red: #ff0062;
  --blue: #00dbf9;
  --violet: #da00f7;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.circle {
  width: 8%;
  height: 30%;
  border-radius: 100%;
  margin: 8px;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.animation .deep__blue {
  background-color: rgb(0, 149, 246);
}

.animation .red {
  background-color: var(--red);
  animation-delay: 0.1s;
}

.animation .blue {
  background-color: var(--blue);
  animation-delay: 0.2s;
}

.animation .violet {
  background-color: var(--violet);
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
