.home .main__content {
  display: flex;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
}
.main__content .left {
  height: fit-content;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.main__content .right {
  width: 40%;
}
.main__content .left .stories {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 18vh;
  border: 1px solid rgb(219, 219, 219);
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 8px;
  display: flex;
  padding: 0 15px;
  gap: 10px;
  overflow: hidden;
  position: relative;
}
.main__content .left .stories .story {
  min-width: 14%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.main__content .left .stories .story .image__background {
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
  border-radius: 50%;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content .left .stories .story img {
  width: 88%;
  height: 88%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.main__content .left .stories .story p {
  color: rgba(0, 0, 0, 0.5);
}
.main__content .posts {
  margin-top: 20px;
  width: 75%;
  align-self: flex-end;
  height: 82%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.main__content .posts .post {
  height: fit-content;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  background-color: white;
  margin-bottom: 12px;
}
.main__content .posts .post .post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.main__content .posts .post .post__header__left {
  display: flex;
  height: 100%;
  align-items: center;
  width: 90%;
  padding-left: 2px;
}
.post .post__header__left .post__header__left__left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.post .post__header__left .post__header__left__right {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5px;
}
.post__header__left__with__follow .follow__button {
  color: rgb(0, 149, 246);
  cursor: pointer;
  font-weight: 600;
}

.post__header__left__with__follow .post__header__left__right {
  display: flex;
  gap: 5px;
}

.main__content .posts .post .post__header__left .image__background {
  height: 60%;
  width: 90%;
  border-radius: 50%;
}
.post__header__left__with__follow .image__background {
  height: 60%;
  width: 30%;
}
.main__content .posts .post .post__header__left .image__background img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main__content .post__header__right {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content .post__header__right img {
  cursor: pointer;
}
.main__content .post__body {
  height: fit-content;
  position: relative;
}
.main__content .post__body .post__image__background {
  height: fit-content;
}
.main__content .post__body .post__image__background img {
  width: 100%;
}
.main__content .post .post__details__header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}
.main__content .post .post__details__header__left {
  display: flex;
  width: 28%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.main__content .post .post__details__header__right {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content .post .details {
  height: fit-content;
  min-height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__content .post .comment__field {
  display: flex;
  gap: 1px;
  padding: 0 10px;
  align-items: center;
  height: 8vh;
  border-top: 1px solid rgb(219, 219, 219);
}
.main__content .post .comment__field__left {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}
.main__content .post .comment__field__right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.main__content .post .comment__field__right button:disabled {
  cursor: not-allowed;
}
.main__content .post .comment__field__right button {
  border: none;
  color: rgb(0, 149, 246);
  width: 100%;
  cursor: pointer;
  background-color: inherit;
}
.main__content .post .comment__field textarea {
  padding-top: 12px;
  resize: none;
  width: 91%;
  border: none;
  height: 100%;
}
.main__content .post .comment__field textarea::placeholder {
  padding-top: 1px;
}
.main__content .post .comment__field textarea:focus {
  outline: none;
}
.main__content .post .post__text {
  height: 30%;
  height: fit-content;
  word-wrap: break-word;
  min-height: 2vh;
  display: flex;
  padding: 5px;
  padding-left: 0;
  margin-left: 10px;
}
.main__content .post .likes {
  width: 20%;
  margin-left: 10px;
}
.main__content .post .show__comments {
  margin-left: 10px;
  cursor: pointer;
  color: rgb(142, 142, 142);
}
.main__content .post .time__posted {
  margin-left: 10px;
  color: rgb(142, 142, 142);
  font-size: 0.8rem;
}
.main__content .account__suggestions {
  height: 70%;
  width: 80%;
  margin-top: 50px;
  margin-left: 10px;
}
.main__content .account__suggestions .account {
  height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account__suggestions .account .account__left {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.account__suggestions .account .account__right h4 {
  color: rgb(0, 149, 246);
  cursor: pointer;
}
.account__suggestions .account .account__left .image__background {
  height: 80%;
  width: 21%;
  border-radius: 50%;
}
.account__suggestions .account .account__left .image__background img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.account__suggestions .suggestions {
  height: 82%;
  display: flex;
  flex-direction: column;
}
.account__suggestions .suggestions__header {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.account__suggestions .suggestions__header__left {
  color: rgb(142, 142, 142);
}
.account__suggestions .suggestions__header__right {
  color: rgb(38, 38, 38);
  cursor: pointer;
}
.suggestions .suggestion__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  margin-bottom: 10px;
}
.suggestions .suggestion__item__left {
  height: 100%;
  display: flex;
  width: 80%;
  align-items: center;
  gap: 12px;
}
.suggestions .suggestion__item__left .suggestion__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.suggestions .suggestion__item__left .suggestion__details p {
  color: rgb(142, 142, 142);
}
.suggestions .suggestion__item__left .image__background {
  height: 80%;
  width: 15%;
  border-radius: 50%;
}
.suggestions .suggestion__item__left .image__background img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.suggestion__item .suggestion__item__right h4 {
  color: rgb(0, 149, 246);
  cursor: pointer;
}
.arrow {
  height: 30px;
  background-color: rgb(160, 160, 150);
  width: 6%;
  position: absolute;
  bottom: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right__arrow {
  right: 2%;
}
.left__arrow {
  left: 2%;
}
.arrow__icon {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
.stories .arrow {
  bottom: 45%;
}
.icon {
  cursor: pointer;
}
.more {
  color: rgb(142, 142, 142);
  cursor: pointer;
}
